@font-face {
  font-family: "alte_din";
  src: url("../webfonts/din1451alt-webfont.woff2") format("woff2"), url("../webfonts/din1451alt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  margin: 0;
  overflow-x: hidden;
  background-color: #eeeeee;
}
body.mobile {
  height: 100vh;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 2px solid #D8D8D8;
  margin: 50px 0 0 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

h1 {
  font-family: "alte_din";
  color: #1C1C1C;
  margin: 15px 0;
  font-size: 1.6rem;
}

h2 {
  font-family: "alte_din";
  color: #1C1C1C;
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 10px 0;
}

h3 {
  font-family: "alte_din";
  background-color: #0077FF;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 15px;
  padding: 5px 15px;
  border-radius: 5px;
}

.container {
  margin: auto auto;
}
.container.normal {
  max-width: 1200px;
}

footer {
  background-color: white;
  color: #4D4D4D;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  text-align: center;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div a {
  color: #1C1C1C;
  margin: 0 12px 20px 12px;
  font-size: 2.2rem;
}
footer div a:hover {
  transform: scale(1.1, 1.1);
  color: #4D4D4D;
  transition: 0.1s;
}
footer div a:not(:hover) {
  transform: scale(1, 1);
  transition: 0.1s;
}

@media only screen and (max-width: 400px) {
  hr {
    margin: 40px 0 0 0;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  footer {
    font-size: 0.9rem;
  }
}
header {
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  position: relative;
  color: #1C1C1C;
  font-family: "alte_din";
  font-size: 1.4rem;
  margin: 15px 0;
}
header a.link-middle {
  margin: 0 30px;
  padding: 0 30px;
  border-left: 2px solid #D8D8D8;
  border-right: 2px solid #D8D8D8;
}
header a:hover {
  color: #4D4D4D;
  transition: 0.2s;
}

.mobile-header-menu {
  display: none;
}
.mobile-header-menu a {
  cursor: pointer;
  font-size: 1.8rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(28, 28, 28, 0.4);
}
.mobile-menu .mobile-menu-content {
  padding: 150px 20px 100px 20px;
  background-color: #eeeeee;
  text-align: center;
}
.mobile-menu .mobile-menu-content a {
  display: block;
  margin-bottom: 50px;
  color: #1C1C1C;
  font-family: "alte_din";
  font-size: 2rem;
}
.mobile-menu .mobile-menu-content div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.mobile-menu .mobile-menu-content div a {
  color: #1C1C1C;
  margin: 0 15px 20px 15px;
  font-size: 2.5rem;
}
.mobile-menu.open {
  display: block;
}

@media only screen and (max-width: 800px) {
  header .header-links {
    display: none;
  }
  .mobile-header-menu {
    display: block;
  }
}
.top-div {
  padding: 150px 20px 0 20px;
}
.top-div .top-div-img {
  margin: 0 auto;
  background-image: url("../img/profile-pic.jpg");
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-div .top-div-name {
  margin: 40px 0 25px 0;
}
.top-div .top-div-position {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .top-div {
    padding: 100px 20px 0 20px;
  }
  .top-div .top-div-img {
    width: 180px;
    height: 180px;
  }
  .top-div .top-div-name {
    margin: 30px 0 25px 0;
  }
  .top-div .top-div-position {
    display: flex;
    justify-content: center;
  }
}
.intro-div {
  padding: 0 20px;
  margin: 60px 0;
}
.intro-div h2 {
  text-align: left;
  margin-bottom: 40px;
}
.intro-div .intro-div-content {
  display: grid;
  grid-template-columns: 40% 50%;
  column-gap: 10%;
}
.intro-div .intro-div-content hr {
  display: none;
  padding: 25px 0;
}
.intro-div .intro-div-content .intro-content-1 h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 15px 0;
}
.intro-div .intro-div-content .intro-content-1 h4:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background: #0077FF;
}
.intro-div .intro-div-content .intro-content-2 {
  border-left: 2px solid #D8D8D8;
  padding-left: 80px;
}
.intro-div .intro-div-content .intro-content-2 .intro-edu {
  display: flex;
}
.intro-div .intro-div-content .intro-content-2 .intro-edu div {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background: #0077FF;
  margin: 22px 20px 0 0;
}
.intro-div .intro-div-content .intro-content-2 h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 15px 0;
  line-height: 1.6rem;
}
.intro-div .intro-div-content .intro-content-2 span {
  font-size: 1rem;
  color: #4D4D4D;
}

@media only screen and (max-width: 1000px) {
  .intro-div .intro-div-content {
    display: block;
  }
  .intro-div .intro-div-content hr {
    display: block;
  }
  .intro-div .intro-div-content .intro-content-2 {
    border-left: none;
    padding-left: 0;
  }
  .intro-div .intro-div-content .intro-content-2 .intro-edu {
    display: flex;
  }
  .intro-div .intro-div-content .intro-content-2 .intro-edu div {
    width: 12px;
    height: 12px;
    margin-right: 20px;
    background: #0077FF;
    margin: 22px 20px 0 0;
  }
  .intro-div .intro-div-content .intro-content-2 h4 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 15px 0;
    line-height: 1.6rem;
  }
  .intro-div .intro-div-content .intro-content-2 span {
    font-size: 1rem;
    color: #4D4D4D;
  }
}
@media only screen and (max-width: 650px) {
  .intro-div .intro-div-content .intro-content-2 .intro-edu {
    display: block;
  }
  .intro-div .intro-div-content .intro-content-2 .intro-edu div {
    display: none;
  }
  .intro-div .intro-div-content .intro-content-2 h4 {
    font-size: 1.2rem;
    color: #0077FF;
    font-weight: bold;
    margin: 25px 0;
  }
  .intro-div .intro-div-content .intro-content-2 span {
    font-weight: normal;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 428px) {
  .intro-div {
    margin: 40px 0;
  }
  .intro-div h2 {
    margin-bottom: 50px;
    text-align: center;
  }
  .intro-div .intro-div-content .intro-content-1 h4 {
    font-size: 1rem;
    margin: 12px 0;
  }
  .intro-div .intro-div-content .intro-content-1 h4:before {
    width: 10px;
    height: 10px;
    margin-right: 15px;
  }
  .intro-div .intro-div-content hr {
    padding: 15px 0;
  }
  .intro-div .intro-div-content .intro-content-2 .intro-edu {
    display: block;
  }
  .intro-div .intro-div-content .intro-content-2 .intro-edu div {
    display: none;
  }
  .intro-div .intro-div-content .intro-content-2 h4 {
    font-size: 1rem;
    color: #0077FF;
    font-weight: bold;
    margin: 20px 0;
  }
  .intro-div .intro-div-content .intro-content-2 span {
    font-weight: normal;
    font-size: 0.9rem;
  }
}
.frontend-div {
  padding: 0 20px;
  margin: 60px 0;
}
.frontend-div h2 {
  text-align: left;
}
.frontend-div .frontend-div-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(50%, max(200px, 20%))));
  row-gap: 40px;
  margin-top: 60px;
}
.frontend-div .frontend-div-content .frontend-div-skill {
  text-align: center;
}
.frontend-div .frontend-div-content .frontend-div-skill img {
  height: 80px;
}
.frontend-div .frontend-div-content .frontend-div-skill h4 {
  font-family: "alte_din";
  font-size: 1.2rem;
  font-weight: normal;
}

.design-div {
  padding: 0 20px;
  margin: 60px 0;
}
.design-div h2 {
  text-align: left;
}
.design-div .design-div-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(50%, max(200px, 20%))));
  row-gap: 40px;
  margin-top: 60px;
}
.design-div .design-div-content .design-div-skill {
  text-align: center;
}
.design-div .design-div-content .design-div-skill img {
  height: 80px;
}
.design-div .design-div-content .design-div-skill h4 {
  font-family: "alte_din";
  font-size: 1.2rem;
  font-weight: normal;
}

@media only screen and (max-width: 428px) {
  .frontend-div {
    margin: 40px 0;
  }
  .frontend-div h2 {
    text-align: center;
  }
  .design-div {
    padding: 0 20px;
    margin: 40px 0;
  }
  .design-div h2 {
    text-align: center;
  }
}
.history-div {
  padding: 0 20px;
  margin: 60px 0 150px 0;
}
.history-div h2 {
  text-align: left;
  margin-bottom: 40px;
}
.history-div .history-div-content .history-content {
  display: flex;
}
.history-div .history-div-content .history-content div {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background: #0077FF;
  margin: 21px 20px 0 0;
}
.history-div .history-div-content h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 15px 0;
  line-height: 1.6rem;
}
.history-div .history-div-content span {
  font-size: 1rem;
  color: #4D4D4D;
}

@media only screen and (max-width: 650px) {
  .history-div .history-div-content .history-content {
    display: block;
  }
  .history-div .history-div-content .history-content div {
    display: none;
  }
  .history-div .history-div-content h4 {
    font-size: 1.2rem;
    color: #0077FF;
    font-weight: bold;
    margin: 25px 0;
  }
  .history-div .history-div-content span {
    font-weight: normal;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 428px) {
  .history-div {
    margin: 40px 0 100px 0;
  }
  .history-div h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  .history-div .history-div-content .history-content {
    display: block;
  }
  .history-div .history-div-content .history-content div {
    display: none;
  }
  .history-div .history-div-content h4 {
    font-size: 1rem;
    color: #0077FF;
    font-weight: bold;
    margin: 20px 0;
  }
  .history-div .history-div-content span {
    font-weight: normal;
    font-size: 0.9rem;
  }
}
.frontend-proj-div {
  padding: 150px 20px 0 20px;
  margin: 0 0 150px 0;
}
.frontend-proj-div h2 {
  text-align: left;
}
.frontend-proj-div .frontend-proj-div-content {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  row-gap: 60px;
  margin-top: 60px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content {
  cursor: pointer;
  position: relative;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .top-pad {
  opacity: 0;
  position: absolute;
  top: -12px;
  width: 100%;
  height: 20px;
  background-color: #0077FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 30px;
  padding: 10px 5%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad h4 {
  position: relative;
  text-align: left;
  font-family: "alte_din";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad i {
  color: white;
  position: relative;
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover {
  animation: bg-moving 10s linear infinite;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .top-pad {
  animation: top-pad-on 0.2s ease 0s 1 normal forwards;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad {
  bottom: -15px;
  padding: 15px 5%;
  background-color: #0077FF;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad h4 {
  color: white;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad i {
  animation: arrow-slide-right 0.2s ease 0s 1 normal forwards;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .top-pad {
  animation: top-pad-off 0.2s ease 0s 1 normal forwards;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad {
  bottom: 0;
  padding: 10px 5%;
  background-color: white;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad h4 {
  color: #1C1C1C;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad i {
  animation: arrow-slide-left 0.2s ease 0s 1 normal forwards;
}

@keyframes top-pad-on {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
@keyframes top-pad-off {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
}
@keyframes arrow-slide-right {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes arrow-slide-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-250px);
  }
}
@keyframes bg-moving {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@media only screen and (max-width: 800px) {
  .frontend-proj-div {
    padding: 100px 20px 0 20px;
  }
  .frontend-proj-div h2 {
    text-align: left;
  }
  .frontend-proj-div .frontend-proj-div-content {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .frontend-proj-div {
    padding: 100px 20px 0 20px;
  }
}
@media only screen and (max-width: 428px) {
  .frontend-proj-div {
    padding: 100px 20px 0 20px;
  }
  .frontend-proj-div h2 {
    text-align: center;
  }
  .frontend-proj-div .frontend-proj-div-content {
    row-gap: 30px;
    margin-top: 40px;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content {
    background-position: center;
    height: 180px;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content .top-pad {
    display: none;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad {
    height: 20px;
    padding: 10px 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad h4 {
    text-align: left;
    font-size: 1.2rem;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad i {
    display: none;
    animation: none;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover {
    animation: none;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .top-pad {
    animation: none;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad {
    bottom: 0;
    padding: 10px 5%;
    background-color: white;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad h4 {
    color: #1C1C1C;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .top-pad {
    animation: none;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad {
    bottom: 0;
    padding: 10px 5%;
    background-color: white;
  }
  .frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad h4 {
    color: #1C1C1C;
  }
}
.design-proj-div {
  padding: 150px 20px 0 20px;
}
.design-proj-div h2 {
  text-align: left;
}
.design-proj-div .design-proj-div-content {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  row-gap: 40px;
  margin-top: 60px;
}
.design-proj-div .design-proj-div-content .design-proj-content {
  cursor: pointer;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.design-proj-div .design-proj-div-content .design-proj-content .top-pad {
  opacity: 0;
  position: absolute;
  top: -12px;
  width: 100%;
  height: 20px;
  background-color: #0077FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.design-proj-div .design-proj-div-content .design-proj-content .bottom-pad {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 30px;
  padding: 10px 5%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.design-proj-div .design-proj-div-content .design-proj-content .bottom-pad h4 {
  position: relative;
  text-align: left;
  font-family: "alte_din";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}
.design-proj-div .design-proj-div-content .design-proj-content .bottom-pad i {
  color: white;
  position: relative;
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .top-pad {
  animation: top-pad-on 0.2s ease 0s 1 normal forwards;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .bottom-pad {
  bottom: -15px;
  padding: 15px 5%;
  background-color: #0077FF;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .bottom-pad h4 {
  color: white;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .bottom-pad i {
  animation: arrow-slide-right 0.2s ease 0s 1 normal forwards;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .top-pad {
  animation: top-pad-off 0.2s ease 0s 1 normal forwards;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .bottom-pad {
  bottom: 0;
  padding: 10px 5%;
  background-color: white;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .bottom-pad h4 {
  color: #1C1C1C;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .bottom-pad i {
  animation: arrow-slide-left 0.2s ease 0s 1 normal forwards;
}
.design-proj-div hr {
  margin: 80px 0;
}

.design-more-div {
  padding: 0 20px;
  margin: 0 0 150px 0;
}
.design-more-div h2 {
  text-align: left;
}
.design-more-div .design-more-div-content {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  row-gap: 40px;
  margin-top: 60px;
}
.design-more-div .design-more-div-content .design-more-content {
  cursor: pointer;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.design-more-div .design-more-div-content .design-more-content .top-pad {
  opacity: 0;
  position: absolute;
  top: -12px;
  width: 100%;
  height: 20px;
  background-color: #0077FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.design-more-div .design-more-div-content .design-more-content .bottom-pad {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 30px;
  padding: 10px 5%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.design-more-div .design-more-div-content .design-more-content .bottom-pad h4 {
  position: relative;
  text-align: left;
  font-family: "alte_din";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}
.design-more-div .design-more-div-content .design-more-content .bottom-pad i {
  color: white;
  position: relative;
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
}
.design-more-div .design-more-div-content .design-more-content:hover .top-pad {
  animation: top-pad-on 0.2s ease 0s 1 normal forwards;
}
.design-more-div .design-more-div-content .design-more-content:hover .bottom-pad {
  bottom: -15px;
  padding: 15px 5%;
  background-color: #0077FF;
  transition: 0.3s;
}
.design-more-div .design-more-div-content .design-more-content:hover .bottom-pad h4 {
  color: white;
  transition: 0.3s;
}
.design-more-div .design-more-div-content .design-more-content:hover .bottom-pad i {
  animation: arrow-slide-right 0.2s ease 0s 1 normal forwards;
}
.design-more-div .design-more-div-content .design-more-content:not(:hover) .top-pad {
  animation: top-pad-off 0.2s ease 0s 1 normal forwards;
}
.design-more-div .design-more-div-content .design-more-content:not(:hover) .bottom-pad {
  bottom: 0;
  padding: 10px 5%;
  background-color: white;
  transition: 0.3s;
}
.design-more-div .design-more-div-content .design-more-content:not(:hover) .bottom-pad h4 {
  color: #1C1C1C;
  transition: 0.3s;
}
.design-more-div .design-more-div-content .design-more-content:not(:hover) .bottom-pad i {
  animation: arrow-slide-left 0.2s ease 0s 1 normal forwards;
}

@media only screen and (max-width: 1000px) {
  .design-proj-div .design-proj-div-content {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    row-gap: 40px;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 800px) {
  .design-proj-div {
    padding: 100px 20px 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  .design-proj-div h2 {
    text-align: left;
  }
  .design-proj-div .design-proj-div-content {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 40px;
  }
  .design-more-div h2 {
    text-align: left;
  }
  .design-more-div .design-more-div-content {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 40px;
  }
}
@media only screen and (max-width: 428px) {
  .design-proj-div h2 {
    text-align: center;
  }
  .design-proj-div .design-proj-div-content {
    row-gap: 30px;
    margin-top: 40px;
  }
  .design-proj-div .design-proj-div-content .design-proj-content {
    height: 180px;
    border-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .design-proj-div .design-proj-div-content .design-proj-content .top-pad {
    display: none;
  }
  .design-proj-div .design-proj-div-content .design-proj-content .bottom-pad {
    height: 20px;
    padding: 10px 5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .design-proj-div .design-proj-div-content .design-proj-content .bottom-pad h4 {
    text-align: center;
    font-size: 1.2rem;
  }
  .design-proj-div .design-proj-div-content .design-proj-content .bottom-pad i {
    display: none;
    animation: none;
  }
  .design-proj-div hr {
    margin: 50px 0;
  }
}