@font-face {
  font-family: "alte_din";
  src: url("../webfonts/din1451alt-webfont.woff2") format("woff2"), url("../webfonts/din1451alt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  margin: 0;
  overflow-x: hidden;
  background-color: #F8F8F8;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 2px solid #D8D8D8;
  margin: 50px 0 0 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

h1 {
  font-family: "alte_din";
  color: #1C1C1C;
  margin: 15px 0;
  font-size: 1.6rem;
}

h2 {
  font-family: "alte_din";
  color: #1C1C1C;
  text-align: center;
  font-size: 1.6rem;
  font-weight: normal;
  margin: 10px 0;
}

h3 {
  font-family: "alte_din";
  background-color: #0077FF;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0 15px;
  padding: 5px 15px;
  border-radius: 5px;
}

.container {
  margin: auto auto;
}
.container.normal {
  max-width: 1200px;
}

footer {
  background-color: white;
  color: #4D4D4D;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  text-align: center;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div a {
  color: #1C1C1C;
  margin: 0 12px 20px 12px;
  font-size: 2.2rem;
}
footer div a:hover {
  transition: 0.2s;
}

header {
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-title {
  border-bottom: 4px #1C1C1C solid;
}
header a {
  color: #1C1C1C;
  font-family: "alte_din";
  font-size: 1.4rem;
}
header a.link-middle {
  margin: 0 30px;
  padding: 0 30px;
  border-left: 2px solid #D8D8D8;
  border-right: 2px solid #D8D8D8;
}
header a:hover {
  transition: 0.2s;
}

.top-div {
  padding: 150px 20px 0 20px;
}
.top-div .top-div-img {
  margin: 0 auto;
  background-image: url("../img/profile-pic.jpg");
  border-radius: 50%;
  width: 220px;
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-div .top-div-name {
  margin: 40px 0 25px 0;
}
.top-div .top-div-position {
  display: flex;
  justify-content: center;
}

.intro-div {
  padding: 0 20px;
  margin: 60px 0;
}
.intro-div h2 {
  text-align: left;
  margin-bottom: 40px;
}
.intro-div .intro-div-content {
  display: grid;
  grid-template-columns: 40% 50%;
  column-gap: 10%;
}
.intro-div .intro-div-content .intro-content-1 h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 15px 0;
}
.intro-div .intro-div-content .intro-content-1 h4:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background: #0077FF;
}
.intro-div .intro-div-content .intro-content-2 {
  border-left: 2px solid #D8D8D8;
  padding-left: 80px;
}
.intro-div .intro-div-content .intro-content-2 .intro-edu {
  display: flex;
}
.intro-div .intro-div-content .intro-content-2 .intro-edu div {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background: #0077FF;
  margin: 22px 20px 0 0;
}
.intro-div .intro-div-content .intro-content-2 h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 15px 0;
  line-height: 1.6rem;
}
.intro-div .intro-div-content .intro-content-2 span {
  font-size: 1rem;
  color: #4D4D4D;
}

.frontend-div {
  padding: 0 20px;
  margin: 60px 0;
}
.frontend-div h2 {
  text-align: left;
}
.frontend-div .frontend-div-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(50%, max(200px, 16.6666666667%))));
  row-gap: 40px;
  margin-top: 60px;
}
.frontend-div .frontend-div-content .frontend-div-skill {
  text-align: center;
}
.frontend-div .frontend-div-content .frontend-div-skill img {
  height: 80px;
}
.frontend-div .frontend-div-content .frontend-div-skill h4 {
  font-family: "alte_din";
  font-size: 1.2rem;
  font-weight: normal;
}

.design-div {
  padding: 0 20px;
  margin: 60px 0;
}
.design-div h2 {
  text-align: left;
}
.design-div .design-div-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, min(50%, max(200px, 20%))));
  row-gap: 40px;
  margin-top: 60px;
}
.design-div .design-div-content .design-div-skill {
  text-align: center;
}
.design-div .design-div-content .design-div-skill img {
  height: 80px;
}
.design-div .design-div-content .design-div-skill h4 {
  font-family: "alte_din";
  font-size: 1.2rem;
  font-weight: normal;
}

.history-div {
  padding: 0 20px;
  margin: 60px 0;
}
.history-div h2 {
  text-align: left;
  margin-bottom: 40px;
}
.history-div .history-div-content .history-content {
  display: flex;
}
.history-div .history-div-content .history-content div {
  width: 12px;
  height: 12px;
  margin-right: 20px;
  background: #0077FF;
  margin: 21px 20px 0 0;
}
.history-div .history-div-content h4 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 15px 0;
  line-height: 1.6rem;
}
.history-div .history-div-content span {
  font-size: 1rem;
  color: #4D4D4D;
}

.frontend-proj-div {
  padding: 0 20px;
  margin: 60px 0;
}
.frontend-proj-div h2 {
  text-align: left;
}
.frontend-proj-div .frontend-proj-div-content {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  row-gap: 60px;
  margin-top: 60px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content {
  cursor: pointer;
  position: relative;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .top-pad {
  opacity: 0;
  position: absolute;
  top: -12px;
  width: 100%;
  height: 20px;
  background-color: #0077FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 30px;
  padding: 10px 5%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad h4 {
  position: relative;
  text-align: left;
  font-family: "alte_din";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content .bottom-pad i {
  color: white;
  position: relative;
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover {
  animation: bg-moving 10s linear infinite;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .top-pad {
  animation: top-pad-on 0.2s ease 0s 1 normal forwards;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad {
  bottom: -15px;
  padding: 15px 5%;
  background-color: #0077FF;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad h4 {
  color: white;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:hover .bottom-pad i {
  animation: arrow-slide-right 0.2s ease 0s 1 normal forwards;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .top-pad {
  animation: top-pad-off 0.2s ease 0s 1 normal forwards;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad {
  bottom: 0;
  padding: 10px 5%;
  background-color: white;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad h4 {
  color: #1C1C1C;
  transition: 0.3s;
}
.frontend-proj-div .frontend-proj-div-content .frontend-proj-content:not(:hover) .bottom-pad i {
  animation: arrow-slide-left 0.2s ease 0s 1 normal forwards;
}

@keyframes top-pad-on {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
@keyframes top-pad-off {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
}
@keyframes arrow-slide-right {
  0% {
    transform: translateX(-250px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes arrow-slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-250px);
  }
}
@keyframes bg-moving {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
.design-proj-div {
  padding: 0 20px;
  margin: 60px 0 150px 0;
}
.design-proj-div h2 {
  text-align: left;
}
.design-proj-div .design-proj-div-content {
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
  row-gap: 40px;
  margin-top: 60px;
}
.design-proj-div .design-proj-div-content .design-proj-content {
  cursor: pointer;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  border-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.design-proj-div .design-proj-div-content .design-proj-content .top-pad {
  opacity: 0;
  position: absolute;
  top: -12px;
  width: 100%;
  height: 20px;
  background-color: #0077FF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.design-proj-div .design-proj-div-content .design-proj-content .bottom-pad {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 30px;
  padding: 10px 5%;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.design-proj-div .design-proj-div-content .design-proj-content .bottom-pad h4 {
  position: relative;
  text-align: left;
  font-family: "alte_din";
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}
.design-proj-div .design-proj-div-content .design-proj-content .bottom-pad i {
  color: white;
  position: relative;
  font-size: 1.8rem;
  float: right;
  margin-left: 5px;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .top-pad {
  animation: top-pad-on 0.2s ease 0s 1 normal forwards;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .bottom-pad {
  bottom: -15px;
  padding: 15px 5%;
  background-color: #0077FF;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .bottom-pad h4 {
  color: white;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:hover .bottom-pad i {
  animation: arrow-slide-right 0.2s ease 0s 1 normal forwards;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .top-pad {
  animation: top-pad-off 0.2s ease 0s 1 normal forwards;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .bottom-pad {
  bottom: 0;
  padding: 10px 5%;
  background-color: white;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .bottom-pad h4 {
  color: #1C1C1C;
  transition: 0.3s;
}
.design-proj-div .design-proj-div-content .design-proj-content:not(:hover) .bottom-pad i {
  animation: arrow-slide-left 0.2s ease 0s 1 normal forwards;
}